@*
    
*@
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Details";  
}
@model PE2023test.Models.Review

<section class ="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Review Details Page.</h2>
            </div>
        </div>
    </div>
</section>

<section class="review-details">
    <div class = "container">
        <div class="row row-balance">
            <div class="col-lg-12">
                <div class="title-text">
                    <h4>Review Details</h4>
                </div>
           </div>
        </div>
        <div class="row">
            <dl class="dl-horizontal">
                <dt>  
                    @Html.DisplayNameFor(model => model.IDBook)  
                </dt>  
                <dd>  
                    @Html.DisplayFor(model => model.IDBook)  
                </dd>  
                <dt>  
                    @Html.DisplayNameFor(model => model.ISSNum)  
                </dt>  
                <dd>  
                    @Html.DisplayFor(model => model.ISSNum)  
                </dd>  
                <dt>  
                    @Html.DisplayNameFor(model => model.Review_date)  
                </dt>  
                <dd>  
                    @Html.DisplayFor(model => model.Review_date)  
                </dd>  
                <dt>  
                    @Html.DisplayNameFor(model => model.Review_context)  
                </dt>  
                <dd>  
                    @Html.DisplayFor(model => model.Review_context)
                </dd>  
                <dt>  
                    @Html.DisplayNameFor(model => model.Review_star)  
                </dt>  
                <dd>  
                    @for (int i=0;i< Model.Review_star; i++)
                    {
                        <span class="fa-solid fa-star"></span>
                    }
                </dd> 
            </dl>  
        </div>
    </div>
    <div class="row link-row">
        <div class="col-lg-4">
              <a asp-action="ReviewEdit" asp-route-id="@Model.ISSNum" asp-route-id2="@Model.IDBook" class="navigate-link">Edit</a>
        </div>
        <div class="col-lg-4">
               <a asp-action="ReviewIndex" class="navigate-link">Back to List</a>  
        </div>
    </div>
</section>

